body{
    padding:0px;
}
p{
  color:rgb(194, 46, 157);
  font-size: 23px;
}
.navbar{
    background-color:black;
    overflow: hidden;
    position: sticky;
    top: 0px;
  }
   .navbar a{
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 10px 12px;
    font-size: 15px;
    text-decoration: none;
   
   }
   .navbar a:hover{
    background-color:#f2f2f2;
    color:black;
   }
   .header{
    text-align: center;
    color: rgb(179, 12, 103);
   }
  .home{
    display:flex;

     }
     .leftcontent{
     border:2px,solid,rgb(194, 2, 34);
     padding: 20px;
     text-align: center;
 }
     .rightcontent{
      padding: 20px;
     }
     img{
      height:100%;
      width:100%;
     }
     .form{
      border:2px,block,black;
      display: flex;
      flex-direction: column;
      gap: 20px;
      align-items: center;
     }
     .contact{
      text-align: center;
     }
.button{
  background-color: rgb(114, 11, 92);
  color: rgb(38, 228, 38);
  width:100px;
}
.input{
width:400px;
}
.footer{
  margin: 20px;
  background-color:black;
  text-align: center;
  padding: 10px;
}
.name{
  color: white;
  size:20px;
}
.link{
  text-decoration: none;
  color: rgb(167, 50, 7);
}
footer a:hover{
color: rgb(228, 23, 57);
}
